<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pasteodon</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>


  <div id="appGridV">
    <nav>
      <h1>Pasteodon</h1>
      <a id="logoutButton" href="/logout" class="buttonLook">Log Out</a>
    </nav>

    <div id="appGridH">
      <div id="sideBar">


      </div>
      <div id="mainView">


      </div>
    </div>
  </div>

  <script src="/assets/appBundle.js"></script>
</body>

</html>