<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pasteodon</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><h1>Pasteodon</h1>
    <a id="loginButton" href="/login" class="buttonLook">Login</a>
    <a id="signupButton" href="/signup" class="buttonLook">Sign up</a>
  </nav>
  
  <section id="content">

  </section>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
