<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pasteodon</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><h1>Pasteodon</h1>
  </nav>
  <section id="content">
    <br/>
    <h1>404 - Page not found!</h1>
    <h2>Maybe try the login page by clicking <a class="inlineLink" href="/login">here.</a></h2>
  </section>
  <div class="message"></div>
</body>
</html>
