* {
    transition: all 0.13s ease-in-out;
}

html,
body {
    color: white;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(18, 18, 18);
}

h1 {
    text-align: center;
    font-size: 4em;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

nav{
    width: 100%;
    background-color: rgb(30, 30, 30);
    display: grid;
    grid-template-columns: 30% 10% 10% auto;
    justify-content: left;
    align-items: center;
    padding: 10px;
    column-gap: 2em;
}

button, .buttonLook, input {
    text-align: center;
    background-color: #2e122998;
    border: #ffd900 solid 2px;
    font-size: x-large;
    color: white;
    border-radius: 16px;
    padding: 10px 8px;
    margin: 5px;
    width: 100%;
    outline: none;
}

button:hover, .buttonLook:hover, input.formSubmit {
    cursor: pointer;
}

button:hover, button:focus, .buttonLook:hover, .buttonLook:focus, input:hover, input:focus {
    border-color: #ffd900;
    color: #ffd900;
    background-color: #ffd9002a;
}

button.active, button:active, .buttonLook.active, .buttonLook:active, input:active {
    border-color: #ffd900;
    background-color: #ffd900;
    color: black;
}

a, a:visited {
    background: none;
    outline: none;
    border: none;
    color: #ffd900;
    font-size: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

a:active {
    color: #d37f00;
}

a:focus, a:hover {
    color: #ff9900;
}

#loginForm{
    width: 30vw;
    margin: 5em auto;
}

/* message box needs to float in front of everything */
.message {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 50%;
    background-color: #2e1229d3;
    border: #ffd900 solid 2px;
    font-size: xx-large;
    border-radius: 16px;
    padding: 1.5em .7em;
    margin: 3em auto;
    margin-left: -25%;
    display: block;
    width: 50%;
    outline: none;
    visibility: hidden;
    transform: scaleY(0);
    text-align: center;
    pointer-events: none
}

@media screen and (max-width:1200px) {
    nav{
        grid-template-columns: 90%;
    }

    #loginForm{
        width: 60vw;
        margin: 5em auto;
    }
}