* {
    transition: all 0.13s ease-in-out;
}

html,
body {
    color: white;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(18, 18, 18);
}

h1 {
    text-align: center;
    font-size: 4em;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

nav {
    display: block;
    width: 100%;
    background-color: rgb(45, 45, 45);
    display: grid;
    grid-template-columns: 30% 10% 10% auto;
    justify-content: left;
    align-items: center;
    padding: 10px;
    column-gap: 2em;
}

#appGridV {
    height: 100vh;
    width: 100vw;
    display: grid;
    overflow: hidden;
    grid-template-rows: fit-content(20%) auto;
}

#appGridH {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 21% auto;
}

#sideBar {
    width: 100%;
    overflow-y: auto;
    max-height: 92vh;
    background-color: rgb(29, 29, 29);
    border-right: #ffd900 solid 2px;
    row-gap: 6em;
    display: grid;
    grid-template-rows: fit-content(40%) auto;
}

#allOptions {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.optionsArea h2 {
    margin-bottom: .3em;
}

.optionsArea p {
    text-align: center;
    margin: .5em 0;
}

.optionsArea {
    margin-bottom: 2em;
}

#mainView {
    width: 100%;
    height: 95vh;
    overflow-y: auto;
}

label {
    display: block;
    text-align: center;
}

button,
.buttonLook,
input {
    text-decoration: none;
    text-align: center;
    background-color: #2e122998;
    border: #ffd900 solid 2px;
    font-size: x-large;
    color: white;
    border-radius: 16px;
    padding: 10px 8px;
    margin: 5px;
    width: 100%;
    outline: none;
}

.channelButton {
    margin-top: .75em;
    margin-right: -1px;
    width: 95%;
    float: right;
}

.buttonLookGreen {
    border: #3aca38 solid 2px;
}

.buttonLook.channelButton {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.buttonLook.rightSideFlat {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.buttonLook.leftSideFlat {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

button:hover,
.buttonLook:hover,
input.formSubmit {
    cursor: pointer;
}

button:hover,
button:focus,
.buttonLook:hover,
.buttonLook:focus,
input:hover,
input:focus {
    border-color: #ffd900;
    color: #ffd900;
    background-color: #ffd9002a;
}

.buttonLookGreen:hover,
.buttonLookGreen:focus {
    border-color: #3aca38;
    color: #3aca38;
    background-color: #2fdc402a;
}

button.active,
button:active,
.buttonLook.channelButton.active,
.buttonLook.active,
.buttonLook:active,
input:active {
    border-color: #ffd900;
    background-color: #ffd900;
    color: black;
}

.buttonLookGreen.active,
.buttonLookGreen:active {
    border-color: #3aca38;
    background-color: #3aca38;
    color: black;
}

.inlineLink,
.inlineLink:visited {
    background: none;
    outline: none;
    border: none;
    color: #ffd900;
    font-size: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.inlineLink:active {
    color: #d37f00;
}

.inlineLink:focus,
.inlineLink:hover {
    color: #ff9900;
    text-decoration: underline;
}

#loginForm,
#signupForm {
    width: 30vw;
    margin: 3em auto;
}

#passwordChangeForm {
    width: 100%;
    margin: .25em auto;
}

.pasteList {
    width: 90%;
    padding-bottom: 3em;
    margin: 0 auto;
    margin-bottom: 3em;
}

.paste p,
.lowMarginPaste p {
    margin: 0;
}

.paste {
    display: block;
    width: 90%;
    font-size: large;
    margin-top: 1em;
    position: relative;
}

.lowMarginPaste {
    display: block;
    width: 90%;
    font-size: large;
    margin-top: .2em;
}

.paste img {
    max-width: 50%;
    min-width: 40vw;
    width: 50%;
}

.paste:hover,
.lowMarginPaste:hover {
    background-color: rgb(29, 29, 29);
}

.pasteHoverButtons {
    display: grid;
    grid-template-columns: 75% auto auto;
    position: absolute;
    top: -2em;
    right: -2em;
    opacity: 1;
}

.dateText {
    display: block;
    color: #c3c3c3;
    text-align: right;
    background-color: rgb(29, 29, 29);
    height: 52%;
    padding: .25em;
    padding-bottom: 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#fullScreenModal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000aa;
    transform: scaleY(1);
}

#closeModalArea {
    width: 100%;
    height: 100%;
}

#renameChannelsModal {
    width: 40%;
    height: 60%;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(29, 29, 29);
    border: #ffd900 solid 2px;
    border-radius: 16px;
    padding: 10px 8px;
}

.currentName{
    text-overflow: ellipsis;
    word-wrap: break-word;
}


.channelEditor {
    display: grid;
    grid-template-rows: 85% 15%;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.grid2x1 {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
}

.videoEmbed {
    max-width: 65%;
    min-width: 50vw;
    aspect-ratio: 16/9;
    width: 100%;
    display: block;
}

/* message box needs to float in front of everything */
.message {
    z-index: 2;
    position: fixed;
    top: 25%;
    left: 50%;
    background-color: #2e1229d3;
    border: #ffd900 solid 2px;
    font-size: xx-large;
    border-radius: 16px;
    padding: 1.5em .7em;
    margin: 3em auto;
    margin-left: -25%;
    display: block;
    width: 50%;
    outline: none;
    visibility: hidden;
    transform: scaleY(0);
    text-align: center;
    pointer-events: none
}

#mobilePasteButton{
    position: absolute;
    width: 50vw;
    bottom: 0;
    visibility: hidden;
    font-size: x-large;
    font-weight: bold;
    /* background-color: #ffd900; */
    /* color: black; */
    left: 25%;
}

@media screen and (max-width:1700px) {

    button,
    .buttonLook,
    input {
        font-size: large;
    }
}

@media screen and (max-width:1330px) {
    nav {
        grid-template-columns: 90%;
    }

    #appGridH {
        grid-template-columns: 26% auto;
    }

    #loginForm,
    #signupForm {
        width: 60vw;
        margin: 5em auto;
    }

    .pasteList {
        width: 90%;
        padding-bottom: 6em;
        margin: 0 auto;
        margin-bottom: 6em;
    }

    button,
    .buttonLook,
    input {
        font-size: medium;
    }

    .paste,
    .lowMarginPaste {
        font-size: small;
    }

    #mobilePasteButton{
        visibility: visible;
    }

    #renameChannelsModal{
        width: 85%;
        height: 85%;
    }
}

@media screen and (max-width:900px) {

    button,
    .buttonLook,
    input {
        font-size: small;
    }
}